/* ******** Header & Footer ********* */
.slogan {
    font-family: "Pacifico", serif;
    font-weight: 600;
}

#searchBar {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#searchBtn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#productsFooter img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#productsFooter img:hover {
    transform: scale(1.1);
}

.btn-dark{
    background-color: white !important;
    border-left: 0;
    border-color: var(--bs-border-color);
}

.me-2{
    margin-right: 0 !important;
}

/* ********************************************* */
/* ******************* Card nav ******************** */
/* ********************************************* */

.card-nav{
    height: 70px;
    background-color: #F53E32;
    padding-top: 15px;
}
.card-nav * {
    color: white;
    font-weight: bold;
}

.card-nav .breadcrumb a{
    text-decoration: none;
}

.card-nav .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

/* ********************************************* */
/* ******************* product table ******************** */
/* ********************************************* */
