/* ******** Header & Footer ********* */
.slogan {
    font-family: "Pacifico", serif;
    font-weight: 600;
}

#searchBar {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#searchBtn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#productsFooter img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#productsFooter img:hover {
    transform: scale(1.1);
}

.btn-dark {
    background-color: white !important;
    border-left: 0;
    border-color: var(--bs-border-color);
}

.btn-dark i{
    color: #000 !important;
}


.me-2 {
    margin-right: 0 !important;
}

/* ********************************************* */
/* ******************* Card nav ******************** */
/* ********************************************* */

.card-nav {
    height: 70px;
    background-color: #F53E32;
    padding-top: 15px;
}

.card-nav * {
    color: white;
    font-weight: bold;
}

.card-nav .breadcrumb a {
    text-decoration: none;
}

.card-nav .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

/* ********************************************* */
/* ********** checkout body ******************** */
/* ********************************************* */

/* first side section */
.green-sal {
    color: #64B496;
}

.muted-sal {
    color: #7A7A7A;
}

/* second side section */

.left-sec-card p:first-of-type {
    color: #7A7A7A;
    font-size: 15px;
}

.left-sec-card form label {
    color: #2B2B2D;
    margin-bottom: 5px;
}

.left-sec-card form input {
    accent-color: #F53E32;
}

.left-sec-card form span {
    color: #7A7A7A;
    font-size: 15px;
}

.left-sec-card form textarea {
    resize: none;
}

/* third side section */

.left-th-card p{
    color: #7A7A7A;
    font-size: 15px;
}

.left-th-card input {
    accent-color: #F53E32;
    cursor: pointer;
}

.left-th-card label {
    color: #777;
}

/* right side section */
.right-first-card .form-group div:first-of-type {
    margin-right: 50px;
    padding: 0 ;
}

.right-first-card .form-group input {
    accent-color: #198754 !important;
}

.right-first-card .btn {
    width: 110px;
    background-color: #F53E32 !important;
}

/* right second section */
.right-second-card .custom-control-input{
    accent-color: #F53E32 !important;
}

.right-second-card .form-inputs input
.right-second-card .form-inputs select {
    padding: 10px;
}




