.slogan{
    font-family: "Pacifico", serif;
    font-weight: 600;
}
#searchBar{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#searchBtn{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
#productsFooter img{
    cursor: pointer;
    min-width: 33px;
    max-width: 73.59px;
    transition: all 0.3s ease-in-out;
}
#productsFooter img:hover{
    transform: scale(1.1);
}

.banner{
    background: url('/images/Section.png') no-repeat center center;
    background-size: cover;
    height: 95vh;
}
